.qswiper {
    width: 100vw;
    
  }
  .qswiper-slide {
    height: 80vh;
    background: #882525;
    line-height: 300px;
    text-align: center;
  }
  .qswiper-slide:nth-child(2) {
    background: #8acc7d00;
  }
  .qswiper-slide:nth-child(3) {
    background: #b7cc7d00;
  }
  .qswiper-slide:nth-child(4) {
    background: #9fb75c00;
  }
  .qswiper-slide:nth-child(5) {
    background: #7da8cc00;
  }
  .qswiper-slide:nth-child(6) {
    background: #96cc7d00;
  }
  .qswiper-slide:nth-child(7) {
    background: #cc7dae00;
  }